%h1
	What is a nojcoin?

.owner
	%p
		Nojcoin is the latest rage in the new <a href="http://en.wikipedia.org/wiki/Cryptocurrency">cryptocurrency</a> hype.
		Just like <a href="http://bitcoin.org/">bitcoin</a>, <a href="http://dogecoin.com/">dogecoin</a>, and others like them,
		nojcoin aims to be <b><i>the</i></b> currency used for goods and services in the web as well as the real world.
	%p
		How does it work you ask? Simple.  Just like bitcoins, in order to obtain nojcoins, you must
		mine for them.  However, <b><i>nojcoins are extremely rare,
		and only one has been found so far</i></b>.  Legend has it that there might only be one, one
		nojcoin to rule them all.  However, we still hold hope, that if we mine long enough, perhaps
		with a bit of luck, we'll be able to find ourselves some shiny new nojcoins.
	%p
		In the interim, this website is dedicated to keep track of the one coin, the one true nojcoin.  You can find the source code for this project in <a href="https://github.com/mdayaram/nojcoin">Github</a>.

.actions
	.action
		[
		%a{ :href => "/" } Cool
		]
