.owner
	.center
		The nojcoin is currently being held by
		= "<a href='https://twitter.com/#{@trade.to}'>#{@trade.to}</a>"
.actions
	.action
		[
		%a{ :href=>'/mine'} mine
		]
	.action
		[
		%a{ :href=>'/steal'} steal
		]
