!!!
%html
	%head
		%meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
		%meta{:name => "lang", :content => "en"}
		%title Nojcoin Status
		%link{:href=>'/styles/main.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
	%body
		.all-the-things
			%nav
				%ul
					%li
						%a{ :href => "/about" } What is this?
					%li
						%a{ :href => "/market" }
							= "Price Index: $#{'%.2f' % @trade.offer.to_f}"
					%li
						%a{ :href => "/ledger" } Ledger

			.content
				= yield

			%footer
				.feed
					<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/nojcoin" data-widget-id="425098218657955840">Tweets by @nojcoin</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
