h1 {
  font-family: Helvetica, San-serif;
  text-align: center;
}

.about {
  font-family: Georgia, Serif;
  font-size: 24px;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.owner {
  font-family: Georgia, Serif;
  font-size: 72px;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.small {
  font-family: Georgia, Serif;
  font-size: 30px;
  margin: 15% 10% 0 10%;
  text-align: left;
  width: 70%;
}

.twitter-fail {
  font-family: Georgia, Serif;
  font-size: 24;
  margin-top: 5em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.steal-message {
  font-family: Georgia, Serif;
  font-size: 32px;
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.steal-form {
  margin-top: 1em;
}

.actions {
  text-align: center;
  margin-top: 2em;
}

.action {
  font-family: Helvetica, San-serif;
  font-size: 20px;
  display: inline-block;
}

.feed {
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

a { color: #000; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }

.owner a { text-decoration: none; color: #0084B4; }
.owner a:link { text-decoration: none; color: #0084B4; }
.owner a:visited { text-decoration: none; color: #0084B4; }
.owner a:hover { text-decoration: none; color: #0084B4; }
.owner a:active { text-decoration: none; color: #0084B4; }

table, tr, th, td {
  font-family: Helvetica, Verdana, san-serif;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}

tr.one {
  background: rgba(25, 25, 25, .1);
}
