html, body {
  height: 100%;
}

h1 {
  font-family: Helvetica, San-serif;
  text-align: center;
}

.all-the-things {
  width: 100%;
  height: 100%;
}

.nav {
  width: 15%;
  margin-left: 50px;
  float: left;
}

.snippet {
  padding-bottom: 20px;
}

.feed {
  height: 100%;
  width: 200px;
}

.content {
  float: left;
  width: 80%;
  height: 100%;
  text-align: center;
  display: inline-table;
}

.owner {
  padding-top: 80px;
  float: none;
  font-family: Georgia, Serif;
  font-size: 72px;
  text-align: left;
  p {
    font-size: 30px;
  }
}

.center {
  text-align: center;
}

.steal-form {
  font-size: 24px;
  margin: 15% 10% 0 10%;
  text-align: center;
}

.actions {
  margin: 20px 0 20px 0;
  text-align: center;
}

.action {
  font-family: Helvetica, San-serif;
  font-size: 20px;
  display: inline-block;
}

a { color: #000; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }

.owner a { text-decoration: none; color: #0084B4; }
.owner a:link { text-decoration: none; color: #0084B4; }
.owner a:visited { text-decoration: none; color: #0084B4; }
.owner a:hover { text-decoration: none; color: #0084B4; }
.owner a:active { text-decoration: none; color: #0084B4; }

table, tr, th, td {
  font-family: Helvetica, Verdana, san-serif;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
}

tr.one {
  background: rgba(25, 25, 25, .1);
}
