.owner {
  font-family: Georgia, Serif;
  font-size: 72px;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.actions {
  text-align: center;
  margin-top: 5em;
}

.action {
  font-family: Helvetica, San-serif;
  font-size: 20px;
}

a { color: #000; }
a:link { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:active { color: #000; }
