%h1 Nojcoin Market Price Index

.owner
	%canvas{ :id => 'marketChart', :width => "600px", :height => "400px"}

.actions
	.action
		[
		%a{ :href=>'/'} what a thriving market!
		]

%script{ :src=>'/javascripts/chart.min.js' }
%script{ :src=>'/market-chart.js' }
