.owner
	.small
		%p
			You dig dig dig dig dig dig dig in your mine the whole day through
			%br
			To dig dig dig dig dig dig dig is what you like to do
			%br
			It ain't no trick to get rich quick
			%br
			If you dig dig dig with a shovel or a pick
			%br
			In a mine! In a mine! In a mine! In a mine!
			%br
			Where a million diamonds shine!
		%p
			You dig dig dig dig dig dig dig from early morn till night
			%br
			You dig dig dig dig dig dig dig up everything in sight
			%br
			You dig up diamonds by the score
			%br
			A thousand rubies, sometimes more
			%br
			But you don't find any nojcoin ore
			%br
			When you dig dig dig a-dig dig

	.actions
		.action
			[
			%a{ :href=>'/'} go back
			]
		.action
			[
			%a{ :href=>'/mine'} mine again
			]
