.steal-message
	%p You want to what now?
	%p
		I don't think
		= @owner
		will be very happy about that...
	%p but if you insist...

	.steal-form
		%form{ :action => "/steal", :method => "post", :role => "form" }
			%label{ :for => "stealer" } Who are you anyways?
			%input{ :id => "stealer", :name => "stealer", :type => "text", :placeholder => "Your twitter handle" }
			%input{ :type => "submit", :value => "boom!" }
